---
import Layout from '@/layouts/Layout.astro';

import EmailIcon from '@/icons/EmailIcon.astro';
import Title from '../Title.astro';
---

<Layout
  title="Seccion contacto de angelcgar"
  description="mi pagina para que puedeas contactarme y trabajar"
  lang="es"
>
  <div
    class="max-w-full m-auto mt-5 pb-20 px-1 md:px-4 lg:w-[1000px] p-1 md:p-4 leading-normal"
  >
    <header class="flex flex-col gap-3 p-20 md:text-left rounded-xl">
      <Title> Trabajemos juntos </Title>
      <h2 class="text-2xl">¿Te interesa trabajar conmigo?</h2>
      <p>
        ¡Envíame un correo electrónico y hablemos sobre tu proyecto! Estoy
        abierto a proyectos de todo tipo, desde pequeñas tareas hasta grandes
        desarrollos.
      </p>
      <h2 class="text-2xl">¿Tienes alguna duda o consulta?</h2>
      <p>
        No dudes en contactarme. Estoy aquí para ayudarte a resolver cualquier
        duda que tengas sobre mis servicios o sobre cualquier otro tema
        relacionado con la informática.
      </p>

      <div class="flex flex-row mt-2 gap-y-1">
        <code
          class="flex items-center justify-center px-2 rounded-md dark:bg-slate-800"
          >ac5802021@gmail.com</code
        >
        <a
          target="_blank"
          rel="noopener noreferrer"
          href="mailto:ac5802021@gmail.com"
        >
          <EmailIcon class="mx-2 size-9 hover:text-ancg-400" />
        </a>
      </div>
    </header>
  </div>
</Layout>

<style>
  p {
    font-size: 1rem;
    line-height: 1.5rem;
  }
</style>
