---
// Components
import Layout from '@/layouts/Layout.astro';
import CardProjects from '@/components/CardProjects.astro';
import Title from '@/components/Title.astro';

// api
import type { Proyectos_API } from '@/pages/api/proyectos-json';
import { envs } from '@/config/envs';

const data = await fetch(`${envs.PATH_ROOT_URL}/api/data`);
const res: Proyectos_API[] = await data.json();
const filteredProjects = res.filter(
  (p) => p.category === envs.PROJECT_CATEGORY,
);
const selectedProjects = filteredProjects.slice(4);

const projectsByImportance = Object.groupBy(
  selectedProjects,
  ({ prioridad }) => prioridad!,
);

let allProject: Proyectos_API[] = [];

if (projectsByImportance['!!1']) {
  allProject = [...allProject, ...projectsByImportance['!!1']];
}
if (projectsByImportance['!!2']) {
  allProject = [...allProject, ...projectsByImportance['!!2']];
}
if (projectsByImportance['!!3']) {
  allProject = [...allProject, ...projectsByImportance['!!3']];
}
if (projectsByImportance['!!4']) {
  allProject = [...allProject, ...projectsByImportance['!!4']];
}
---

<Layout title="Seccion contacto" description="mi descripcion" lang="es">
  <div
    class="max-w-full m-auto mt-5 pb-20 px-1 md:px-4 lg:w-[1000px] p-1 md:p-4 leading-normal"
  >
    <section class="p-5 md:p-10 rounded-md my-4 mx-1 container">
      <Title> More personal projects </Title>

      <div class="grid md:grid-cols-2 gap-6 mt-10">
        {
          allProject.map((project) => (
            <div>
              <a href={`/projects/${project.id}`} class="cursor-pointer">
                <CardProjects project={project} lang="es" />
              </a>
            </div>
          ))
        }
      </div>
    </section>
  </div>
</Layout>
