---
import Layout from '@/layouts/Layout.astro';

// Components
import CardProjects from '@/components/CardProjects.astro';

// Config mas-projects.json
import projects from '@/data/mas-projects.json';
import Title from '../Title.astro';
---

<Layout title="Seccion contacto" descrition="mi descripcion">
  <div
    class="max-w-full m-auto mt-5 pb-20 px-1 md:px-4 lg:w-[1000px] p-1 md:p-4 leading-normal"
  >
    <section class="p-5 md:p-10 rounded-md my-4 mx-1 container">
      <Title> Mas proyectos personales </Title>

      <div class="grid md:grid-cols-2 gap-6 mt-10">
        {projects.map((project) => <CardProjects project={project} />)}
      </div>
    </section>
  </div>
</Layout>
