---
import Layout from '../layouts/Layout.astro'

// Components
import Hero from '../components/Hero.astro'
import Experience from '../components/Experience.astro'
import Projects from '../components/Projects.astro'
import Skills from '../components/Skills.astro'
import Se from '../icons/SvglTAILWIND.astro'
import Co from '../icons/SvglNEXTJS.astro'
import Vi from '../icons/SvglVITE.astro'
---

<Layout
  title="Portafolio de angelcgar ~ Desarrollador y Programador Web."
  descrition="Portafolio de angelcgar."
>
  <main
    class="max-w-5xl m-auto mt-16 pb-20 px-1 md:px-4 lg:w-[800px] p-1 md:p-4 leading-normal"
  >
    <Hero />
    <Experience />
    <Projects />
    <Skills />
  </main>
</Layout>

<style></style>
