<header
  class="container flex flex-col gap-3 p-5 mx-1 mt-10 rounded-md md:flex-row text-pretty md:text-left md:p-10 mb-11"
>
  <div class="flex-1">
    <h1 class="pb-3 text-2xl font-bold md:text-3xl">About Me</h1>

    <div
      class="text-base md:text-lg max-w-[700px] pb-3 dark:[&>p>strong]:text-yellow-300 [&>p]:mb-4"
    >
      <p>
        Hello, my name is Angel Contreras Garcia. I'm a Front-End Web Developer
        who started by creating simple games and experimenting with different
        programming languages like
        <strong>JavaScript</strong> and <strong>Python</strong>.
      </p>
      <p>
        My passion for logical challenges and the satisfaction of solving
        problems drove me to explore the vast universe of computer science.
      </p>
      <p>
        I have acquired skills in web languages such as <strong>HTML</strong>,
        <strong>CSS</strong>, and <strong>JavaScript</strong>, and I am familiar
        with frameworks like <strong>React</strong> and <strong>Angular</strong
        >. My constant curiosity motivates me to keep learning and growing in
        this field.
      </p>
    </div>
  </div>

  <!--! bug; la imagen no encaja con el proyecto -->
  <img
    alt="un dibujo de angelcgar, el dibujo fue echo con IA"
    src="/img/avatar3.webp"
    class="object-cover h-48 mx-auto mt-1 w-58 rounded-xl md:mt-20 lg:hdden aspect-auto"
  />
</header>
