---
import ExperienceItem from '@/components/ExperienceItem.astro';

import type { experience } from '@/interfaces';
import Title from './Title.astro';

const EXPERIENCIE: experience[] = [
  {
    date: 'Currently...',
    title: 'Self-taught Learning and Skill Development',
    description:
      'I am a self-taught learner passionate about technology. I dedicate my time to learning from various sources, such as online courses on platforms like Udemy and Coursera, books by renowned authors like Robert Martin and Eric S. Raymond, YouTube tutorials, and specialized blogs on different programming languages. I enjoy exploring new technologies and understanding how they work, such as blockchain, artificial intelligence, and the Internet of Things.',
    link: 'https://github.com/angelcgar',
  },
  {
    date: 'September 2022',
    title: 'Web Developer - Website Deployment on Various Hosting Platforms',
    description:
      'I developed and deployed over 10 websites on different hosting platforms, including Hostinger, GoDaddy, and AWS Amplify. I accomplished this within just three weeks after starting my career as a web developer, showcasing my ability to: Learn quickly Read and understand code Analyze problems Make favorable decisions',
    link: 'https://github.com/angelcgar',
  },
];
---

<section class="p-5 md:p-10 rounded-md my-4 mx-1 container">
  <Title class="pb-3"> Work Experience </Title>
  <ol class="relative border-s border-gray-200 ml-3">
    {
      EXPERIENCIE.map((experiencie) => (
        <li class="m-4 ms-4 p-4">
          <ExperienceItem {...experiencie} />
        </li>
      ))
    }
  </ol>
</section>
