---
interface Props {
  title: string;
  description: string;
  link: string;
  date: string;
}

const { title, description, link, date } = Astro.props;
---

<div
  class="absolute w-3 h-3 rounded-full mt-1.5 -start-1.5 border border-gray-900 bg-white dark:bg-slate-400"
>
</div>
<time class="mb-1 text-sm font-normal leading-none dark:text-sky-300"
  >{date}</time
>
<h3 class="mt-2 text-lg font-semibold dark:text-yellow-300">
  {title}
</h3>
<p class="mb-4 text-base font-normal md:text-lg text-pretty">
  {description}
</p>

<a
  aria-label="para ir a mi cuenta de github"
  href={link}
  class="inline-flex items-center justify-center px-2 py-1 text-xs transition border border-gray-300 rounded-full bg-white/5 dark:border-white/10 gap-x-2 md:py-2 md:px-4 md:text-base hover:scale-110 hover:bg-white/10"
>
  Saber más...
</a>
