---
import EmailIcon from '../icons/EmailIcon.astro'
import LinkendinIcon from '../icons/LinkendinIcon.astro'
import TwitterIcon from '../icons/TwitterIcon.astro'
import GithubIcon from '../icons/GithubIcon.astro'

const STALES = 'size-9 hover:text-ancg-400'
---

<footer class="bg-zinc-950 flex py-10 gap-4 mt-4 ">
  <div
    class="container mx-auto flex justify-evenly px-6 flex-col md:flex-row text-center md:text-left gap-4"
  >
    <div>
    <p>&copy; 2022. Desarrollado por <a target="_blank" rel="norefer" href="https://twitter.com/AngelCo99356422" class={STALES}>@angelcgar</a></p>
    </div>

    <div>
      <h1 class="font-bold text-xl m-1">Idiomas</h1>
      <p>Español.</p>
      <p>Ingles.</p>
    </div>

    <div class="flex flex-col m-1">
      <h1 class="font-bold text-xl">Redes sociales</h1>
      <div class="flex flex-row md:flex-row gap-x-4 justify-center">

        <a target="_blank" rel="noopener noreferrer" href="https://github.com/ angelcgar" aria-label="Sabar mas acerca del programador"><GithubIcon class={STALES} /></a>
        <a target="_blank" rel="noopener noreferrer" href="https://www.linkedin.com/in/ angel-contreras-b45a66290/" aria-label="Sabar mas acerca del programador"><LinkendinIcon class={STALES}/></a>
        <a target="_blank" rel="noopener noreferrer" href="https://twitter.com/ AngelCo99356422" aria-label="Sabar mas acerca del programador"><TwitterIcon class={STALES} /></a>
      </div>
    </div>
  </div>
</footer>
