---
import LinkendinIcon from '@/icons/LinkendinIcon.astro';
import TwitterIcon from '@/icons/TwitterIcon.astro';
import GithubIcon from '@/icons/GithubIcon.astro';
---

<footer class="bg-ancg-950 flex py-10 gap-4 mt-4">
  <div
    class="container mx-auto flex justify-evenly items-center px-6 flex-col md:flex-row text-center md:text-left gap-4"
  >
    <div>
      <p class="text-lg">
        &copy; 2024. Desarrollado por <a
          target="_blank"
          rel="norefer"
          href="https://twitter.com/AngelCo99356422"
          class="hover:text-ancg-400">@angelcgar</a
        >
      </p>
    </div>

    <!-- <div>
      <p class="font-bold text-xl mb-1">Idiomas</p>
      <p>Español.</p>
      <p>Ingles.</p>
    </div> -->

    <div class="flex flex-col m-1">
      <!-- <p class="font-bold text-xl">Redes sociales</p> -->
      <div class="flex flex-row md:flex-row gap-x-4 justify-center">
        <a
          target="_blank"
          rel="noopener noreferrer"
          href="https://github.com/angelcgar"
          aria-label="Sabar mas acerca del programador"
          ><GithubIcon class="size-9 hover:text-ancg-400" /></a
        >
        <a
          target="_blank"
          rel="noopener noreferrer"
          href="https://www.linkedin.com/in/angel-contreras-b45a66290/"
          aria-label="Sabar mas acerca del programador"
          ><LinkendinIcon class="size-9 hover:text-ancg-400" /></a
        >
        <a
          target="_blank"
          rel="noopener noreferrer"
          href="https://twitter.com/AngelCo99356422"
          aria-label="Sabar mas acerca del programador"
          ><TwitterIcon class="size-9 hover:text-ancg-400" /></a
        >
      </div>
    </div>
  </div>
</footer>
