---
import LinkendinIcon from '@/icons/LinkendinIcon.astro';
import TwitterIcon from '@/icons/TwitterIcon.astro';
import GithubIcon from '@/icons/GithubIcon.astro';

const year = new Date().getFullYear();
---

<footer class="flex gap-4 py-10 mt-4">
  <div
    class="container flex flex-col items-center gap-4 px-6 mx-auto text-center justify-evenly md:flex-row md:text-left"
  >
    <div>
      <p class="text-lg">
        &copy; {year}. Developed with ❤️ by <a
          target="_blank"
          rel="norefer"
          href="https://x.com/AngelCo99356422"
          class="hover:text-gray-900 dark:hover:text-ancg-400">@angelcgar</a
        >
      </p>
    </div>

    <div class="flex flex-col m-1">
      <!-- <p class="text-xl font-bold">Redes sociales</p> -->
      <div class="flex flex-row justify-center md:flex-row gap-x-4">
        <a
          target="_blank"
          rel="noopener noreferrer"
          href="https://github.com/angelcgar"
          aria-label="Know more about the developer"
          ><GithubIcon
            class="size-9 hover:text-gray-800 dark:hover:text-ancg-400"
          /></a
        >
        <a
          target="_blank"
          rel="noopener noreferrer"
          href="https://www.linkedin.com/in/angel-contreras-b45a66290/"
          aria-label="Know more about the developer"
          ><LinkendinIcon
            class="size-9 hover:text-gray-800 dark:hover:text-ancg-400"
          /></a
        >
        <a
          target="_blank"
          rel="noopener noreferrer"
          href="https://x.com/AngelCo99356422"
          aria-label="Know more about the developer"
          ><TwitterIcon
            class="size-9 hover:text-gray-800 dark:hover:text-ancg-400"
          /></a
        >
      </div>
    </div>
  </div>
</footer>
