<footer class="bg-zinc-950 flex py-10 gap-4 mt-4">
  <div
    class="container mx-auto flex justify-evenly px-6 flex-col md:flex-row text-center md:text-left gap-4"
  >
    <div>
      <h4 class="font-bold text-xl">Site Map</h4>
      <a href="/">Home</a>
      <a href="/about">about</a>
      <a href="/pricing">pricing</a>
    </div>

    <div>
      <h4 class="font-bold">Site Map</h4>
      <p>Lorem, ipsum.</p>
      <p>Lorem, ipsum.</p>
      <p>Lorem, ipsum.</p>
      <p>Lorem, ipsum.</p>
    </div>

    <div>
      <h4>Socials</h4>
      <a href="/">Facebook</a>
      <a href="/about">Intagram</a>
      <a href="/pricing">Twitter</a>
    </div>
  </div>
</footer>
