<header
  class="bg-ancg-800 flex flex-col lg:flex-row text-pretty md:text-left p-20 gap-3 rounded-xl mb-11"
>
  <div>
    <h1 class="text-5xl font-bold pb-3 ">Hey, soy angelcgar</h1>
    <p class="text-base md:text-2xl text-wrap max-w-[700px] pb-3">
      Un apasionado del mundo de la programación desde una edad temprana. Mi
      amor por los desafíos lógicos y mi constante curiosidad me llevaron a
      explorar el vasto universo de la informática.
    </p>

    <button class="bg-indigo-700 px-3 py-2 hover:bg-indigo-600 hover:animate-pulsing"
      ><a href="/contacto">Contactame</a>
    </button>
    <button class="bg-indigo-700 px-3 py-2 hover:bg-indigo-600 hover:animate-pulsing">
      <a download="angelcg.pdf" href="/pdf/angelcg.pdf">Mas sobre mi</a>
    </button>

  </div>
  <!-- <img src="/mi-svg.svg" alt="un svg" class="size-48" /> -->
  <img
    alt="un dibujo de angelcgar, el dibujo fue echo con IA"
    src="/img/avatar2.webp"
    class="w-44 h-48 rounded-xl mx-auto object-cover hidden lg:block"
  />
  <img
    alt="un dibujo de angelcgar, el dibujo fue echo con IA"
    src="/img/avatar1.webp"
    class="w-58 h-48 rounded-xl mx-auto mt-3 object-cover lg:hidden"
  />
</header>
