---
import SharedAnchor from './SharedAnchor.astro';
import Title from './Title.astro';

const curriculumVitaeUrl =
  'https://drive.google.com/file/d/175lZD9TAQzWimmRf9Kca5zqboccSJ28b/view?usp=sharing';
---

<header
  class="container flex flex-col gap-3 p-5 mx-1 rounded-md md:flex-row text-pretty md:text-left md:p-10 mb-11"
>
  <div class="flex-1">
    <Title class="pb-3"> Hey, soy ContrerasCode </Title>
    <p class="text-base md:text-lg max-w-[700px] pb-3">
      Un Desarrollador Web Front-End con experiencia en <strong
        class="dark:text-yellow-300"
        >HTML5, CSS3, JavaScript, Git y GitHub.</strong
      >
      Con conocimientos avanzados en ES6+ y familiaridad con sistemas UNIX. Busco
      aplicar mis habilidades en el desarrollo de experiencias de usuario excepcionales.
    </p>

    <div class="flex flex-wrap gap-1 md:gap-3">
      <SharedAnchor
        slot="GitHub"
        arialLabel="ver mi seccion de GitHub"
        href="https://github.com/angelcgar"
        target="_blank"
      />
      <SharedAnchor
        slot="Contactame"
        arialLabel="ver mi seccion de contacto"
        href="/contacto"
      />
      <SharedAnchor
        slot="Mas sobre mi"
        arialLabel="ir a mi CV"
        href={curriculumVitaeUrl}
        target="_blank"
      />
    </div>
  </div>

  <img
    alt="un dibujo de angelcgar, el dibujo fue echo con IA"
    src="/img/avatar1.webp"
    class="object-cover mx-auto mt-1 w-52 h-52 rounded-xl md:mt-5 lg:hdden aspect-auto"
  />
</header>
