---
const HERO = { 
  title: "Hey, soy ContrerasCode",
  main: "Un apasionado del mundo de la programación desde una edad temprana. Mi amor por los desafíos lógicos y mi constante curiosidad me llevaron a explorar el vasto universo de la informática.",
  contacto: "Contactame",
  sobreMi: "Mas sobre mi"
}
---

<header
  class="bg-ancg-950 flex flex-col md:flex-row text-pretty md:text-left p-5 md:p-10 gap-3 rounded-md mb-11 mx-1 container"
>
  <div class="flex-1">
    <h1 class="text-2xl md:text-3xl font-bold pb-3 ">{HERO.title}</h1>
    <p class="text-base md:text-lg max-w-[700px] pb-3">
      {
        (
          <>
            <strong>No soy un simple programador, soy un hacker de código con alma de artista</strong>. Desde pequeño, me fascinaba la magia de la tecnología y la capacidad de crear mundos virtuales.
          </>
        )
      }  
    </p>

    <button class="bg-indigo-700 px-3 py-2 mt-4 hover:bg-indigo-600 rounded-md"
      ><a aria-label="ver mi seccion de contacto" href="/contacto">{HERO.contacto}</a>
    </button>
    <button class="bg-indigo-700 px-3 py-2 mt-4 ml-6 hover:bg-indigo-600 rounded-md">
      <a aria-label="ir a mi CV" target="_blank" rel="noopper" href="https://drive.google.com/file/d/1U9asNWBWoYtfN2oqBHAX5cfN_2_0PrPv/view?usp=sharing">{HERO.sobreMi}</a>
    </button>

  </div>
  
  <img
    alt="un dibujo de angelcgar, el dibujo fue echo con IA"
    src="/img/avatar1.webp"
    class="w-58 h-48 rounded-xl mx-auto mt-1 md:mt-5 object-cover lg:hdden aspect-auto"
  />
</header>

<style>
  .col1 {
    color: #16a34a;
  }
  .col2 {
    color: #eab308;
  }
  .col3 {
    color: #b368ff;
  }
</style>
