---
// config projects.json
import projects from '@/data/projects.json';

// Componente
import CardProjects from '@/components/CardProjects.astro';
import SharedAnchor from './SharedAnchor.astro';
---

<h1 class="text-center font-bold text-5xl mt-10">Proyectos</h1>

<div class="grid md:grid-cols-2 gap-6 p-4 mt-10">
  {projects.map((project) => <CardProjects project={project} />)}
</div>

<div class="flex justify-center items-center">
  <SharedAnchor
    slot="Mas proyectos"
    arialLabel="ver mas royectos"
    href="/mas-proyectos"
  />
</div>
