---
// config projects.json
import projects from '@/data/projects.json';

// Componente
import CardProjects from '@/components/CardProjects.astro';
import SharedAnchor from './SharedAnchor.astro';
import Title from './Title.astro';
---

<section class="container p-5 mx-1 my-4 rounded-md md:p-10">
  <Title class=""> My projects </Title>

  <div class="grid gap-6 mt-10 md:grid-cols-2">
    {
      projects.slice(0, 4).map((project) => (
        <div>
          <a href={`/projects/${project.id}`}>
            <CardProjects project={project} />
          </a>
        </div>
      ))
    }
  </div>

  <div class="flex items-center justify-center">
    <SharedAnchor
      slot="More projects"
      arialLabel="view more projects"
      href="/mas-proyectos"
    />
  </div>
</section>
