---
// config projects.json 
import projects from '../config/projects.json'

// Componente 
import CardProjects from '../components/CardProjects.astro'

---

<h1 class="text-center font-bold text-5xl mt-10">Proyectos</h1>

<div class="grid md:grid-cols-2 gap-4 p-4">
  {
    projects.map((project) => (
      <CardProjects project={project} />
    ))
  }

</div>

<div class="justify-center flex items-center rounded-sm">
  <button class="bg-indigo-700 px-3 py-2 hover:bg-indigo-600"
  ><a href="/mas-proyectos">Mas proyectos</a>
  </button>
</div>
