---
interface Props {
  slot: string;
  href: string;
  arialLabel: string;
  target?: string;
}

const { slot, href, arialLabel, target = '_self' } = Astro.props;
---

<a
  aria-label={arialLabel}
  target={target}
  rel="noopener noreferrer"
  href={href}
  class="text-blue-500 transition-all hover:bg-blue-500/10 active:bg-blue-500/30 disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none dark:text-white text-xs rounded-lg py-3 px-6 text-center select-none font-bold uppercase"
  >{slot}
</a>
