---
interface Props {
  slot: string;
  href: string;
  arialLabel: string;
  target?: string;
}

const { slot, href, arialLabel, target = '_self' } = Astro.props;
---

<a
  aria-label={arialLabel}
  target={target}
  rel="noopener noreferrer"
  href={href}
  class="px-3 py-2 mt-4 bg-gray-100 rounded-md dark:bg-indigo-900 dark:hover:bg-indigo-700/80 hover:bg-gray-200"
  >{slot}
</a>
