---
import CardSkills from './CardSkills.astro'
---

<section class="rounded-xl my-4 container md:p-10 bg-transparent p-10 md:py-20 gap-y-8"
>
  <h2 class="text-5xl font-bold my-5">Habilidades</h2>

  <div class="grid grid-cols-2 md:grid-cols-4 gap-2">
    <CardSkills>
      <img src="/svg/html.svg" class="w-20 m-auto h-20" alt="" />
      <p class="mt-4 uppercase font-semibold text-green-100">html</p>
    </CardSkills>

    <CardSkills>
      <img src="/svg/css.svg" class="w-20 m-auto h-20" alt="" />
      <p class="mt-4 uppercase font-semibold text-green-100">css</p>
    </CardSkills>

    <CardSkills>
      <img src="/svg/javascript.svg" class="w-20 m-auto h-20" alt="" />
      <p class="mt-4 uppercase font-semibold text-green-100">javascript</p>
    </CardSkills>

    <CardSkills>
      <img src="/svg/react.svg" class="w-20 m-auto h-20" alt="" />
      <p class="mt-4 uppercase font-semibold text-green-100">react</p>
    </CardSkills>

    <CardSkills>
      <img src="/svg/nodejs.svg" class="w-20 m-auto h-20" alt="" />
      <p class="mt-4 uppercase font-semibold text-green-100">node.js</p>
    </CardSkills>

    <CardSkills>
      <img src="/svg/vitejs.svg" class="w-20 m-auto h-20" alt="" />
      <p class="mt-4 uppercase font-semibold text-green-100">vite.js</p>
    </CardSkills>

    <CardSkills>
      <img src="/svg/tailwind.svg" class="w-20 m-auto h-20" alt="" />
      <p class="mt-4 uppercase font-semibold text-green-100">tailwind</p>
    </CardSkills>

    <CardSkills>
      <img src="/svg/nextjs.svg" class="w-20 m-auto h-20" alt="" />
      <p class="mt-4 uppercase font-semibold text-green-100">next.js</p>
    </CardSkills>
    
    <CardSkills>
      <img src="/svg/astro.svg" class="w-20  m-auto h-20" alt="" srcset="">  
      <p class="mt-4 uppercase font-semibold text-green-100">astro</p>
    </CardSkills>    
    
    <CardSkills>
      <img src="/svg/expressjs.svg" class="w-20 m-auto h-20" alt="">
      <p class="mt-4 uppercase font-semibold text-green-100">express js</p>
    </CardSkills>
    
    <CardSkills>
      <img src="/svg/angular.svg" class="w-20 m-auto h-20" alt="">
      <p class="mt-4 uppercase font-semibold text-green-100">angular</p>
    </CardSkills>
    
    <CardSkills>
      <img src="/svg/android.svg" class="w-20 m-auto h-20" alt="">
      <p class="mt-4 uppercase font-semibold text-green-100">android</p>
    </CardSkills>
    
  </div>
</section>