---
import { ViewTransitions } from 'astro:transitions';

import SEO from '@/components/SEO.astro';
import Footer from '@/components/Footer.astro';

import '@/styles/css-reset-2024.css';

interface Props {
  title: string;
  descrition: string;
}

const { title, descrition } = Astro.props;
---

<!doctype html>
<html lang="es">
  <head>
    <SEO {title} {descrition} />
    <ViewTransitions />
  </head>

  <div
    class="dark:fixed dark:top-0 dark:z-[-2] dark:h-screen dark:w-screen dark:bg-neutral-950 dark:bg-[radial-gradient(ellipse_80%_80%_at_50%_-20%,rgba(120,119,198,0.3),rgba(255,255,255,0))]"
  >
  </div>

  <!-- todo: poner un fondo -->
  <body class="bg-slate-100 dark:bg-slate-950 dark:text-white">
    <main class="container mx-auto md:pt-7">
      <slot />
    </main>
    <Footer />
  </body>

  <style is:global>
    @media (prefers-color-scheme: dark) {
      :root {
        color-scheme: dark;
      }
    }
    /* :root {
    color-scheme: dark light;
  } */

    html {
      font-family: system-ui, sans-serif;
    }
  </style>
</html>
