---
import '@/styles/global.css';
import '@/styles/css-reset-2024.css';

import SEO from '@/components/SEO.astro';
import Footer from '@/components/Footer.astro';

import { ViewTransitions } from 'astro:transitions';

interface Props {
  title: string;
  descrition: string;
}

const { title, descrition } = Astro.props;
---

<!doctype html>
<html lang="es">
  <head>
    <SEO {title} {descrition} />
    <ViewTransitions />
  </head>

  <body>
    <main class="mx-auto md:pt-10 container">
      <slot />
    </main>
    <Footer />
    <style is:global>
      :root {
        color-scheme: dark light;
      }

      html {
        font-family: system-ui, sans-serif;
        background: #13151a;
      }
    </style>
  </body>
</html>
